awscli
diagrams
ipython
ipykernel
ipywidgets
matplotlib
mkdocs
numpy
pandas
plotly
python-dotenv
seaborn
scikit-learn
scipy
statsmodels
-e .


openai
openpyxl

tensorflow
torch

mlflow
jupyter_ai

pyspark

black
flake8
loguru
# mkdocs
# isort
# setuptools
# typer
# wheel
# -e .

===

black
flake8




